.top-img {
    display: flex;
    align-items: center;
    height: 150px;
    width: 300px;
}

h4 {
    text-align: center;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.top {
    width: 450px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-width: 8px;
    border-color: #494848;
    background-image: url('https://i.pinimg.com/originals/c7/5d/a3/c75da36273bf86aefd32ccb886f00e82.png');
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.main {
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
    border-style: solid;
    border-width: 8px;
    border-color: #494848;
    background-image: url('https://i.pinimg.com/originals/b1/20/25/b1202568d88e8fe9e02e7a67fa42c93e.jpg');
    background-size: cover;
}
